<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Common, open source architecture platform, that aims to document the most valuable but neglected and endangered buildings of the Western Balkan cities.">
  <meta property="og:image" content="/assets/img/buildings.png" />
  <meta property="og:title" content="Common, open source architecture platform, that aims to document the most valuable but neglected and endangered buildings of the Western Balkan cities.">
  <meta property="og:url" content="https://preservingwb.city" />
  <title>PreservingWesternBalkan</title>
  <link rel="icon" type="image/png" href="/assets/img/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/leaflet.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link href="/assets/https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap" rel="stylesheet">
</head>
<body>

{{ content }}
</body>
</html>
